*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /*background: linear-gradient(to right, #222722, #153f57);*/
    background-color: rgb(28, 28, 97);
}

.container{
   margin: 10px;
   padding: 30px; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    background-color: transparent;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navs:active{
    color: red;
}

.center_area{
    background-image: url(images/hands_code.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 600px;
}

.center_header{
    height: 100px;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 60px;
    -webkit-text-stroke: 1px rgb(45, 98, 245);
}

.socials{
    display: flex;
}

.twitLogo{
    height: 50px;
    position: relative;
    left: 1450px;
    top: 7px;
    
}

.gitLogo{
    height: 50px;
    position: relative;
    left: 1325px;
    top: 7px;
}

.btn_area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_btn{
    text-decoration: none;
    color: white;
    background: green;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.printFib{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fibPar{
    color: white;
    position: relative;
    top: 30px;
    font-size: 25px;
}

.fib_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35px;
}

.fib_btn{
    text-decoration: none;
    color: white;
    background: green;
    border-radius: 5px;
    font-size: 20px;
}

.fib_text_box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    height: 50px;
}

.par1{
    color:white
}

.lamboPic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lamboText{
    color: white;
    font-size: 25px;
    position: relative;
    top: 50px;
}

.lambo_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.camry{
    position: relative;
    top: 70px;
}

.lambo_btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lambo_btn{
    color: white;
    font-size: 20px;
    position: relative;
    top: 80px;  
    text-decoration: none;
    border-radius: 5px;
    background: green;
}

.guns_text_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.guns_par{
    color: white;
    font-size: 25px;
    position: relative;
    top: 100px;
}

.guns_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.guns_poster{
    height: 400px;
    position: relative;
    top: 120px;
}

.guns_poster:hover{
    border: 5px solid rgb(232, 116, 20);
}

/* This is the CV CSS part */
.cv_div{
    border: 5px solid white;
    height: 400px;
    width: 1535px;
}

.cv_name{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv_mob_email{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_items{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_par{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu_par{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dis_par{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro_ul{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px
}

.courses_header{
    color: white;
}

.cv_line{
    color: white;
    position: relative;
    bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}